---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Streaming teste">
	<main>
		<div class="flex flex-auto	">
			<a href="">TESTE</a>
			<a href="">TESTE</a>
			<a href="">TESTE</a>
		</div>
	</main>
</Layout>
