---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Streaming teste">
	<main>
		<div class="container mx-auto p-4">
			<div class="grid grid-cols-10 gap-4">
			<a href="https://m.media-amazon.com/images/I/51NiGlapXlL._AC_.jpg"><img src="https://m.media-amazon.com/images/I/51NiGlapXlL._AC_.jpg" class="w-full h-70" alt="The Shawshank Redemption"></a>
			<a href=""><img src="https://m.media-amazon.com/images/I/71c05lTE03L._AC_SL1024_.jpg" class="w-full h-70" alt="Pulp Fiction"></a>
			<a href=""><img src="https://m.media-amazon.com/images/I/51v5ZpFyaFL._AC_.jpg" class="w-full h-70" alt="Fight Club"></a>
			<a href=""><img src="https://m.media-amazon.com/images/I/51EG732BV3L._AC_.jpg" class="w-full h-70" alt="The Matrix"></a>
			</div>
		</div>
		<script>
			document.startViewTransition
		</script>
	</main>
</Layout>
